[submodule "ccx"]
	path = ccx
	url = https://github.com/ISCPC/CalculiX-ccx.git
[submodule "lib/ARPACK"]
	path = lib/ARPACK
	url = https://github.com/ISCPC/ARPACK.git
	branch = intel
[submodule "lib/SPOOLES"]
	path = lib/SPOOLES
	url = https://github.com/ISCPC/SPOOLES.git
	branch = gcc
[submodule "lib/calculix-adapter"]
	path = lib/calculix-adapter
	url = https://github.com/precice/calculix-adapter.git
